<% @users.each do |user| %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for user %>
        <%= user.name %>
      </h1>
       <%= link_to 'Uer_Page', user_path(user) %>
    </section>
  </aside>
  <br>
</div>
   <% end %>